/* @function rem($px) { @return $px / 16px + 0rem; }*/
@font-face { font-family: 'lifehack'; src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'gagalin'; src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@media screen and (max-width: 768px) { html { font-size: 15px; } }

@media screen and (max-width: 480px) { html { font-size: 13px; } }

body { margin: 0; padding: 0; font-size: 1rem; font-family: 'Ubuntu', sans-serif; line-height: 1.42; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-smoothing: grayscale; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

body, html { height: 100%; width: 100%; margin: 0; padding: 0; }

ul { margin: 0; padding: 0; }

ul li { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

p { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal; }

a { text-decoration: none; }

.wrap { position: relative; min-height: 100%; overflow: hidden; }

.maincontent { height: 100%; min-height: 40.625rem; }

.container { width: 100%; max-width: 58.75rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; position: relative; }

@media screen and (max-width: 768px) { .container { width: 90%; } }

@media screen and (max-width: 480px) { .container { width: 95%; } }

.section { height: 100vh; min-height: 40.625rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; }

@media screen and (max-width: 480px) { .section { min-width: 20rem; } }

.section__title { font-family: 'gagalin'; font-size: 4.5rem; font-weight: normal; text-transform: uppercase; }

@media screen and (max-width: 768px) { .section__title { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 4.57143rem; } }

@media screen and (max-width: 480px) { .section__title { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 3.57143rem; } }

.button { border: none; border-radius: 0.1875rem; padding: 0.8125rem 1.0625rem; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; cursor: pointer; font-family: 'Ubuntu', sans-serif; text-transform: uppercase; font-weight: 500; font-size: 0.8125rem; color: #fff; }

@media screen and (max-width: 768px) { .button { padding: 0.85714rem 1.07143rem; font-size: 0.85714rem; } }

.welcome { background-image: url("../img/welcome/bg-first.jpg"); position: relative; }

.welcome__header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 0.625rem; }

.welcome__content { width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.welcome-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 768px) { .welcome-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.welcome-content__left, .welcome-content__right { width: 50%; }

.welcome-content__right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media screen and (max-width: 768px) { .welcome-content__right { width: 100%; text-align: center; } }

@media screen and (max-width: 480px) { .welcome-content__right { width: 100%; } }

.welcome-content__discription { color: #ffffff; font-family: 'lifehack'; font-size: 4.0625rem; font-weight: 400; line-height: 1; white-space: pre-wrap; }

@media screen and (max-width: 768px) { .welcome-content__discription { text-align: center; font-size: 3.92857rem; } }

@media screen and (max-width: 480px) { .welcome-content__discription { text-align: center; font-size: 3.21429rem; } }

.welcome-content__img { max-width: 100%; max-height: 100%; }

@media screen and (max-width: 768px) { .welcome-content__left { width: 70%; height: auto; margin-bottom: 1.25rem; text-align: center; } }

@media screen and (max-width: 480px) { .welcome-content__left { width: 80%; height: auto; margin-bottom: 0.9375rem; } }

.navigation { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navigation__item { display: inline-block; vertical-align: middle; white-space: nowrap; /*@include tablets { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }*/ }

.navigation__item::after { display: inline-block; vertical-align: middle; content: ''; width: 0.3125rem; height: 0.3125rem; border-radius: 0.15625rem; background-color: #fff; margin: 0 0.75rem; }

@media screen and (max-width: 768px) { .navigation__item::after { display: none; } }

.navigation__item:last-child:after { display: none; }

.navigation__list { display: -webkit-box; display: -ms-flexbox; display: flex; /*@include tablets { min-width: 100%; min-height: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;  -webkit-box-align: center; -ms-flex-align: center; align-items: center;  -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;  background-color: rgba(48, 51, 53, 0.98); z-index: 2; }*/ }

.navigation__link { color: #fff; font-family: 'Ubuntu', sans-serif; font-size: 0.8125rem; font-weight: 500; line-height: 1.875rem; text-transform: uppercase; }

@media screen and (max-width: 768px) { .navigation__link { display: none; } }

.navigation .button { margin-left: 0.9375rem; }

.button_color_orange { background-color: #e35028; }

.button_color_orange:hover { background-color: #c1401e; }

.navigation__burger-menu-box { width: 25px; height: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 1.5625rem; display: none; }

@media screen and (max-width: 768px) { .navigation__burger-menu-box { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.navigation__burger-menu { width: 25px; height: 4px; border-radius: 3px; background-color: #fff; position: relative; }

.burger-menu__content::before { content: ""; width: 25px; height: 4px; border-radius: 3px; background-color: #fff; position: absolute; top: -10px; }

.burger-menu__content::after { content: ""; width: 25px; height: 4px; border-radius: 3px; background-color: #fff; position: absolute; top: 10px; }

.arrow { position: absolute; bottom: 2.5rem; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.section__title--orange { color: #f9b43b; }

@media screen and (max-width: 768px) { .section__title--orange { text-align: center; } }

.nav-overlay { width: 100%; height: 100vh; background: #2f3234; position: absolute; }

.overlay__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.overlay__link { display: block; color: #fff; font-family: 'Ubuntu', sans-serif; font-size: 1.5rem; font-weight: 500; line-height: 2.5rem; text-transform: uppercase; margin-bottom: 1.875rem; }

.overlay__item { display: block; text-align: center; }

.item__drop { margin-bottom: 1.875rem; }

.item__drop::after { display: inline-block; text-align: center; content: ''; width: 0.5625rem; height: 0.5625rem; border-radius: 0.28125rem; background-color: #fff; margin: 0 0.75rem; }

.nav-overlay__header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 0.625rem; }

@media screen and (max-width: 768px) { .nav-overlay__header { margin-bottom: 8.125rem; } }

@media screen and (max-width: 480px) { .nav-overlay__header { margin-bottom: 0; } }

.cross { width: 25px; height: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 1.5625rem; }

.best { background-image: url("../img/best/bg.jpg"); }

.best .container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.best .section__title--black { color: #2f3234; margin-bottom: 3.125rem; }

@media screen and (max-width: 480px) { .best .section__title--black { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 3.75rem; } }

.best .features { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.best .features__list { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: -1.25rem; }

@media screen and (max-width: 768px) { .best .features__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media screen and (max-width: 480px) { .best .features__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0; } }

.best .features__item { margin-left: 1.25rem; margin-bottom: 1.25rem; width: 60%; }

@media screen and (max-width: 768px) { .best .features__item { width: 30%; } }

@media screen and (max-width: 480px) { .best .features__item { width: 100%; margin-left: 0; } }

.best .feature { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 480px) { .best .feature { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.best .feature__icon { width: 6.25rem; height: 6.25rem; margin-bottom: 2.5rem; }

.best .feature__info { text-align: center; }

@media screen and (max-width: 480px) { .best .feature__info { text-align: left; margin-left: 1.75rem; } }

.best .feature__img { min-width: 100%; max-height: 100%; }

.best .feature__title, .best .feature__descripton { color: #2f3234; text-align: center; }

@media screen and (max-width: 480px) { .best .feature__title, .best .feature__descripton { text-align: left; margin-left: 1.75rem; } }

.best .feature__title { font-family: 'lifehack'; font-size: 1.5rem; font-weight: 500; line-height: 1.75rem; margin-bottom: 1.25rem; }

.best .feature__descripton { font-family: 'Ubuntu', sans-serif; color: #2f3234; font-size: 0.875rem; font-weight: 300; line-height: 1.5rem; }

.slider { background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b)); background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; }

.slider__arrow--left { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

svg:not(:root) { overflow: hidden; }

.slider__arrow--icon { width: 1.92857rem; height: 1.07143rem; fill: white; cursor: pointer; }

.slider__content { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; width: 67.14286rem; min-height: 34.28571rem; overflow: hidden; width: 100%; min-height: 34.28571rem; }

@media screen and (max-width: 768px) { .slider__content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 80%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.slider__burger { width: 50%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 768px) { .slider__burger { width: 100%; margin-bottom: 0.71429rem; } }

@media screen and (max-width: 480px) { .slider__burger { width: 90%; height: auto; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; } }

.slider__burger--pic { width: 32.85714rem; height: 22.85714rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 768px) { .slider__burger--pic { margin-top: 5.35714rem; width: 28.92857rem; height: 18.57143rem; } }

@media screen and (max-width: 480px) { .slider__burger--pic { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 0.71429rem; } }

.slider__burger--img { max-width: 100%; max-height: 100%; }

.composition { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 0; top: 0; }

.composition__btn { width: 6.42857rem; height: 6.42857rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: #f08c33; border-radius: 0.21429rem; cursor: pointer; }

@media screen and (max-width: 480px) { .composition__btn { margin-top: 1%; } }

.composition__btn--icon { width: 3.21429rem; height: 3.21429rem; fill: white; margin-bottom: 0.78571rem; }

.composition__btn--title { color: #ffffff; font-family: 'Gagalin', Helvetica, sans-serif; font-size: 1rem; font-weight: 400; }

.composition__info { opacity: 0; border-radius: 0.21429rem; width: 19.28571rem; height: 23.71429rem; background-color: rgba(255, 255, 255, 0.91); padding: 0.71429rem 0 0.71429rem 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

.composition__list { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; }

.composition__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; color: #2f3234; font-family: 'Ubuntu', Helvetica, sans-serif; font-size: 1rem; }

.composition__item--icon { width: 3.07143rem; height: 3.07143rem; }

.composition__item--icon--beef { fill: #e25028; }

.composition__item--icon--buns { fill: #f8b43a; }

.composition__item--icon--salad { fill: #8ac03e; }

.composition__item--icon--sauce { fill: #e25028; }

.composition__item--icon--cucumber { fill: #8ac03e; }

.composition__item--icon--cheese { fill: #f8b43a; }

.composition__item--ingr { font-weight: 500; }

.composition__item--weight { font-weight: 300; }

.kkal { position: absolute; left: 0; bottom: 0; }

@media screen and (max-width: 768px) { .kkal { right: 0; top: 0; left: auto; bottom: auto; } }

@media screen and (max-width: 480px) { .kkal { margin-top: 1%; } }

.kkal--icon { width: 4.28571rem; height: 4.28571rem; fill: #ffffff; opacity: 0.5; }

.kkal--info { opacity: 0.5; color: #ffffff; font-family: 'Gagalin', Helvetica, sans-serif; font-size: 1.42857rem; font-weight: 400; line-height: 1.5; margin-top: -2.85714rem; margin-left: 0.21429rem; text-align: center; }

@media screen and (max-width: 768px) { .kkal--info { font-size: 1.37rem; font-weight: 400; line-height: 1.6; } }

.slider__descrip { width: 50%; margin-left: 1.42857rem; }

@media screen and (max-width: 768px) { .slider__descrip { width: 100%; text-align: center; margin-left: 0; } }

@media screen and (max-width: 480px) { .slider__descrip { width: 100%; height: auto; } }

.section__title--slider { font-weight: 400; line-height: 4.57143rem; }

@media screen and (max-width: 768px) { .section__title--slider { text-align: center; margin-top: 0; margin-bottom: 1rem; } }

@media screen and (max-width: 480px) { .section__title--slider { font-size: 3.57143rem; line-height: 3.57143rem; margin-bottom: 0; } }

.slider__descrip--price { font-family: 'Gagalin', Helvetica, sans-serif; font-size: 2.14286rem; font-weight: 400; color: #e45028; letter-spacing: -0.05357rem; display: inline-block; margin-right: 2.14286rem; max-width: 31.78571rem; }

@media screen and (max-width: 768px) { .slider__descrip--price { margin-right: 0.71429rem; } }

.slider__descrip--price__price { font-size: 5.14286rem; letter-spacing: -0.12786rem; }

@media screen and (max-width: 768px) { .slider__descrip--price__price { font-size: 4rem; } }

.slider__arrow--right { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

.reviews { position: relative; }

.reviews__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.reviews__item { width: 25%; height: 50%; }

@media screen and (max-width: 768px) { .reviews__item { width: 50%; height: 25%; } }

.review { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; position: relative; }

.review__img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; background-position: 50%; -webkit-filter: grayscale(100%); filter: grayscale(100%); z-index: -1; }

.review__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0 1.25rem; width: 100%; height: 100%; background-color: rgba(20, 20, 20, 0.8); opacity: 0; -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

@media screen and (max-width: 768px) { .review__content { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media screen and (max-width: 480px) { .review__content { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.review:hover .review__content { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.review__description { font-family: 'Ubuntu', sans-serif; font-size: 0.875rem; font-weight: 300; line-height: 1.5rem; text-align: left; margin-bottom: 0.9375rem; }

@media screen and (max-width: 768px) { .review__description { text-align: center; font-size: 0.85714rem; line-height: 1.5; } }

@media screen and (max-width: 480px) { .review__description { font-size: 0; } }

.review__title { font-family: 'gagalin'; font-size: 0.875rem; font-weight: 400; line-height: 1.75rem; text-align: left; margin-bottom: 1.75rem; }

@media screen and (max-width: 768px) { .review__title { text-align: center; } }

@media screen and (max-width: 480px) { .review__title { font-size: 1.57143rem; } }

.button_color_black { background-color: #2f3234; }

.button_color_black:hover { background-color: #1f2122; }

.button__read { display: none; }

@media screen and (max-width: 768px) { .button__read { display: none; } }

@media screen and (max-width: 480px) { .button__read { display: block; } }

@media screen and (max-width: 768px) { .button__more { display: block; } }

@media screen and (max-width: 480px) { .button__more { display: none; } }

.rev-overlay { width: 60%; background: #fff; border-radius: 0.4375rem; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.rev-overlay__content { padding: 1.375rem 1.4375rem; }

.rev-overlay__title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 1.25rem; }

.rev-overlay__text { font-family: 'Ubuntu', sans-serif; font-size: 0.875rem; font-weight: 300; line-height: 1.5rem; text-align: left; color: #2f3234; }

.title__name { font-family: 'gagalin'; font-size: 0.875rem; font-weight: 400; line-height: 1.75rem; color: #2f3234; }

.team { background-image: url("../img/team/bg-team.jpg"); background-size: cover; position: relative; }

.team__box { position: absolute; right: 0; top: 0; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; background-color: rgba(47, 50, 52, 0.93); }

@media screen and (max-width: 768px) { .team__box { left: 0; width: 100%; } }

.team__name { font-family: 'Ubuntu', sans-serif; color: #fff; font-size: 0.875rem; font-weight: 500; line-height: 1.5rem; margin-bottom: 0.625rem; }

.team__description { font-family: 'Ubuntu', sans-serif; color: #fff; font-size: 0.875rem; font-weight: 300; line-height: 1.5rem; }

.team__item { margin-bottom: 2.1875rem; }

@media screen and (max-width: 768px) { .team__item { text-align: center; } }

.team__item--activ .team__content-wrap { height: 12.5rem; }

.team__item--activ .team__trigger { color: #ecac3b; }

.team__item--activ .team__trigger::before { -webkit-transform: translateY(-75%) rotate(-180deg); -ms-transform: translateY(-75%) rotate(-180deg); transform: translateY(-75%) rotate(-180deg); }

.team__trigger { display: -webkit-box; display: -ms-flexbox; display: flex; color: #fff; font-size: 0.875rem; font-family: 'gagalin'; margin-bottom: 0.9375rem; position: relative; }

@media screen and (max-width: 768px) { .team__trigger { display: inline-block; } }

.team__trigger::before { content: ""; display: block; border: 0.4375rem solid transparent; border-top: 0.4375rem solid #ecac3b; position: absolute; left: -1.125rem; top: 50%; -webkit-transform: translateY(-25%) rotate(0deg); -ms-transform: translateY(-25%) rotate(0deg); transform: translateY(-25%) rotate(0deg); -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

.team__content-wrap { height: 0; overflow: hidden; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

.team__content { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 768px) { .team__content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.team__avatar { width: 6.25rem; height: 6.25rem; border-radius: 50%; overflow: hidden; }

.team__img { max-width: 100%; min-height: 100%; }

.team__text { width: 13.75rem; margin-left: 1.25rem; margin-bottom: 2.1875rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section__title--team { margin-right: 5.625rem; margin-bottom: 3.4375rem; color: #f9b43b; }

@media screen and (max-width: 768px) { .section__title--team { margin-right: 0; text-align: center; } }

.menu { background-image: url("../img/menu/bg-menu.jpg"); background-size: cover; position: relative; }

@media screen and (max-width: 480px) { .menu { background-position: left; } }

.menu__list { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 0; top: 0; bottom: 0; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media screen and (max-width: 480px) { .menu__list { width: 100%; } }

.menu__item { display: -webkit-box; display: -ms-flexbox; display: flex; }

.menu__item--active .menu__title { color: #ecac3b; }

@media screen and (max-width: 768px) { .menu__item--active .menu__title { top: 90%; } }

@media screen and (max-width: 480px) { .menu__item--active .menu__title { z-index: 20; position: absolute; top: 90%; -webkit-transform-origin: left top 0; -ms-transform-origin: left top 0; transform-origin: left top 0; } }

.menu__item--active .menu__content { width: 33.75rem; }

@media screen and (max-width: 768px) { .menu__item--active .menu__content { width: 100%; } }

@media screen and (max-width: 480px) { .menu__item--active .menu__content { width: 85%; z-index: 20; } }

@media screen and (max-width: 480px) { .menu__item--active { position: absolute; left: 0; top: 0; bottom: 0; right: 0; } }

.menu__trigger { cursor: pointer; background-size: cover; background-repeat: no-repeat; background-position: center center; width: 5.71429rem; }

@media screen and (max-width: 768px) { .menu__trigger { min-width: 5.71429rem; } }

@media screen and (max-width: 480px) { .menu__trigger { z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 5.71429rem; width: 15%; } }

.menu__trigger--meat { background-image: url("../img/menu/meatburger.jpg"); }

.menu__trigger--vegan { background-image: url("../img/menu/vegetarianburger.jpg"); }

.menu__trigger--diet { background-image: url("../img/menu/dietburger.jpg"); }

.menu__title { color: #fff; font-family: 'gagalin'; font-size: 2.85714rem; font-weight: 400; line-height: 5.71429rem; -webkit-transform-origin: left top 0; -ms-transform-origin: left top 0; transform-origin: left top 0; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; top: 90%; position: absolute; width: 35.71429rem; }

.menu__content { width: 0; overflow: hidden; background-color: rgba(47, 50, 52, 0.9); -webkit-transition: width 1s; -o-transition: width 1s; transition: width 1s; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.menu__text { padding: 3.75rem 2.1875rem; color: #fff; font-family: 'Ubuntu', sans-serif; font-weight: 300; line-height: 1.71429rem; height: 100%; overflow: hidden; position: relative; padding-top: 2.14286rem; padding-left: 7%; padding-right: 7%; }

.section__title--menu { position: absolute; left: 6.71429rem; top: 8rem; }

@media screen and (max-width: 768px) { .section__title--menu { left: 5%; top: 10%; } }

@media screen and (max-width: 768px) { .menu-acco__x { display: none; } }

@media screen and (max-width: 480px) { .menu-acco__x { display: -webkit-box; display: -ms-flexbox; display: flex; z-index: 20; margin-bottom: 0.85714rem; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

.menu-acco__link { display: inline-block; width: 1.42857rem; height: 1.42857rem; }

.menu-acco__img { min-width: 100%; max-height: 100%; }

.order { background-image: url("../img/delivery/bg-form.jpg"); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 768px) { .form { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.form__left, .form__right { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

@media screen and (max-width: 768px) { .form__left, .form__right { width: 70%; margin: 0; } }

@media screen and (max-width: 480px) { .form__left, .form__right { width: 100%; } }

.form__left { margin-right: 1.25rem; }

@media screen and (max-width: 768px) { .form__left { margin-right: 0; } }

.form__row { margin-bottom: 1.25rem; display: -webkit-box; display: -ms-flexbox; display: flex; }

.form__block { display: block; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 1.25rem; }

.form__block:last-child { margin-right: 0; }

.form__input, .form__textarea { padding: 0.625rem; background: #fff; border: none; border-radius: 0.3125rem; width: 100%; }

.form__title { margin-bottom: 0.625rem; }

.form__reset { border: none; background: transparent; }

.form__reset, .form__text, .form__title { font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 0.875rem; color: #fff; }

.section__title-order { color: #f9b43b; text-align: center; margin-bottom: 3.4375rem; }

@media screen and (max-width: 768px) { .section__title-order { margin-bottom: 5%; } }

.map { background-image: url("../img/map/bg-map.jpg"); background-size: cover; position: relative; }

.footer { position: absolute; bottom: 0; left: 0; background-image: url("../img/delivery/bg-form.jpg"); background-repeat: no-repeat; background-size: 100% 150%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 3.625rem; }

@media screen and (max-width: 480px) { .footer { height: 7.5rem; } }

.footer__content { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 0.875rem; }

@media screen and (max-width: 480px) { .footer__content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.footer__contacts { width: 50%; }

@media screen and (max-width: 480px) { .footer__contacts { margin-bottom: 0.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.footer__address { font-family: 'Ubuntu', sans-serif; font-style: normal; padding-bottom: 0.5rem; }

@media screen and (max-width: 480px) { .footer__address { text-align: center; } }

.footer__telephone { text-decoration: none; position: relative; }

.footer__telephone-svg { width: 0.75rem; height: 0.75rem; position: absolute; top: 2px; left: 2px; fill: #e45028; }

.footer__telephone-number { color: #e45028; font-family: 'Ubuntu', sans-serif; font-weight: bold; display: block; padding-left: 1.375rem; }

.footer__socials { text-align: right; width: 50%; }

@media screen and (max-width: 480px) { .footer__socials { text-align: center; } }

.footer__socials-link { text-decoration: none; width: 20px; height: 20px; cursor: pointer; }

.footer__socials-link :hover { fill: #fff; -webkit-transition: .5s all; -o-transition: .5s all; transition: .5s all; }

.social__svg { width: 1.25rem; height: 1.25rem; fill: #525252; margin-left: 1.25rem; }

.social__svg :hover { fill: #fff; -webkit-transition: .5s all; -o-transition: .5s all; transition: .5s all; }

.footer__socials-link:nth-child(1) { margin: 0; }

@media screen and (max-width: 480px) { .container__footer { height: 100%; padding: 0.625rem 0.625rem; -webkit-box-sizing: border-box; box-sizing: border-box; } }

.asidebar__list { position: fixed; top: 5.3125rem; right: 3.125rem; }

.asidebar__item { margin-bottom: 1.25rem; }

.asidebar__link { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1.25rem; height: 1.25rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 0.0625rem solid transparent; border-radius: 50%; position: relative; }

.asidebar__link:hover { border-color: #fff; }

.asidebar__link:before { content: ""; width: 0.3125rem; height: 0.3125rem; display: block; border-radius: 50%; background: #ffffff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */