@font-face { font-family: 'lifehack'; src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'gagalin'; src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

body { margin: 0; padding: 0; font-size: 16px; font-family: 'Ubuntu', sans-serif; line-height: 1.42; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-smoothing: grayscale; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { height: 100%; width: 100%; margin: 0; padding: 0; }

ul { margin: 0; padding: 0; }

ul li { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

p { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal; }

a { text-decoration: none; }

.wrapper { position: relative; min-height: 100%; width: 100%; min-width: 960px; overflow: hidden; }

.maincontent { height: 100%; }

.container { width: 940px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 2px solid red; margin: 0 auto; }

.section { height: 100vh; min-height: 650px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-repeat: no-repeat; background-size: cover; position: relative; }

.section__title { font-family: 'gagalin'; font-size: 72px; font-weight: normal; text-transform: uppercase; }

.button { border: none; border-radius: 3px; padding: 13px 17px; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; cursor: pointer; font-family: 'Ubuntu', sans-serif; text-transform: uppercase; font-weight: 500; font-size: 13px; color: #fff; }

.welcome { background-image: url("../img/welcome/bg-first.jpg"); }

.welcome__header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 10px; }

.welcome__content { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.welcome-content { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 0.8; -ms-flex-positive: 0.8; flex-grow: 0.8; }

.welcome-content__right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 25px; }

.welcome-content__discription { color: #ffffff; font-family: 'lifehack'; font-size: 4.0625rem; font-weight: 400; line-height: 1; white-space: pre-wrap; }

.navigation { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navigation__item { display: inline-block; vertical-align: middle; white-space: nowrap; }

.navigation__item::after { display: inline-block; vertical-align: middle; content: ''; width: 5px; height: 5px; border-radius: 2.5px; background-color: #fff; margin: 0 12px; }

.navigation__item:last-child:after { display: none; }

.navigation__list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.navigation__link { color: #fff; font-family: 'Ubuntu', sans-serif; font-size: 13px; font-weight: 500; line-height: 30px; text-transform: uppercase; }

.navigation .button { margin-left: 15px; }

.button_color_orange { background-color: #e35028; }

.button_color_orange:hover { background-color: #c1401e; }

.arrow { position: absolute; bottom: 40px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.section__title--orange { color: #f9b43b; }

.best { background-image: url("../img/best/bg.jpg"); }

.best .container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.best .section__title--black { color: #2f3234; margin-bottom: 50px; }

.features__list { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: -20px; }

.features__item { margin-left: 20px; }

.feature { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 300px; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.feature__icon { width: 100px; height: 100px; margin-bottom: 40px; }

.feature__img { min-width: 100%; max-height: 100%; }

.feature__title, .feature__descripton { color: #2f3234; text-align: center; }

.feature__title { font-family: 'lifehack'; font-size: 24px; font-weight: 500; line-height: 28px; margin-bottom: 30px; }

.feature__descripton { font-family: 'Ubuntu', sans-serif; color: #2f3234; font-size: 14px; font-weight: 300; line-height: 24px; }

.reviews__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.reviews__item { width: 25%; height: 50%; }

.review { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; position: relative; }

.review__img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-size: cover; background-position: 50%; -webkit-filter: grayscale(100%); filter: grayscale(100%); z-index: -1; }

.review__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0 20px; width: 100%; height: 100%; background-color: rgba(20, 20, 20, 0.8); opacity: 0; -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

.review:hover .review__content { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.review__description { font-family: 'Ubuntu', sans-serif; font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; margin-bottom: 15px; }

.review__title { font-family: 'gagalin'; font-size: 13.92px; font-weight: 400; line-height: 28px; text-align: left; margin-bottom: 28px; }

.button_color_black { background-color: #2f3234; }

.button_color_black:hover { background-color: #1f2122; }

.team { background-image: url("../img/team/bg-team.jpg"); position: relative; }

.team__box { position: absolute; right: 0; top: 0; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; background-color: rgba(47, 50, 52, 0.93); }

.team__item { margin-bottom: 35px; }

.team__item--activ .team__content-wrap { height: 135px; }

.team__item--activ .team__trigger { color: #ecac3b; }

.team__item--activ .team__trigger::before { -webkit-transform: translateY(-75%) rotate(-180deg); -ms-transform: translateY(-75%) rotate(-180deg); transform: translateY(-75%) rotate(-180deg); }

.team__trigger { display: -webkit-box; display: -ms-flexbox; display: flex; color: #fff; font-size: 14px; font-family: 'gagalin'; margin-bottom: 15px; position: relative; }

.team__trigger::before { content: ""; display: block; border: 7px solid transparent; border-top: 7px solid #ecac3b; position: absolute; left: -18px; top: 50%; -webkit-transform: translateY(-25%) rotate(0deg); -ms-transform: translateY(-25%) rotate(0deg); transform: translateY(-25%) rotate(0deg); -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

.team__content-wrap { height: 0; overflow: hidden; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; }

.team__content { display: -webkit-box; display: -ms-flexbox; display: flex; }

.team__avatar { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; }

.team__img { max-width: 100%; min-height: 100%; }

.team__text { width: 220px; margin-left: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section__title--team { margin-right: 90px; margin-bottom: 55px; color: #f9b43b; }

.menu { background-image: url("../img/menu/bg-menu.jpg"); position: relative; }

.menu__list { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 0; top: 0; bottom: 0; }

.menu__item { display: -webkit-box; display: -ms-flexbox; display: flex; }

.menu__item--active .menu__title { color: #ecac3b; }

.menu__item--active .menu__content { width: 540px; }

.menu__trigger { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; width: 80px; background-repeat: no-repeat; background-size: cover; padding-bottom: 35px; }

.menu__title { width: 100%; font-family: 'gagalin'; font-size: 40px; color: #fff; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); white-space: nowrap; }

.menu__content { width: 0; overflow: hidden; background-color: rgba(47, 50, 52, 0.9); -webkit-transition: width .5s; -o-transition: width .5s; transition: width .5s; }

.menu__text { padding: 60px 35px; min-width: 540px; }

.form { background-image: url("../img/delivery/bg-form.jpg"); }

.form__inner { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.form__right { margin-left: 20px; width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 2px solid red; }

.form__left { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 2px solid red; }

.form__row { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 15px; margin-left: -20px; }

.form__block { max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-left: 20px; }

.form__block--radio { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.form__input { height: 35px; border-radius: 5px; }

.section__title--form { color: #f9b43b; text-align: center; }

.map { background-image: url("../img/map/bg-map.jpg"); position: relative; }

.footer { position: absolute; bottom: 0; left: 0; right: 0; height: 60px; background-color: #1f2122; }

/*# sourceMappingURL=main.css.map */